
body {
  margin: 0;
  background-color: #000;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 30px;
  color: #b3b3b3;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-left img {
  width: 32px;
  height: 32px;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 25px;
  padding: 6px 15px;
  color: #fff;
  width: 400px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  flex: 1;
  font-size: 14px;
}

.search-box i {
  margin-right: 8px;
  color: #b3b3b3;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav-right a:hover {
  color: #ff4545;
}

.login-btn {
  background-color: #ff97aa;
  color: #000000;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #000000;
}

