
.trending-section {
  padding: 20px 30px;
  color: white;
  background: #121212;
}

.trending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.trending-header h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.trending-header a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.trending-header a:hover {
  color: #fff;
}

.trending-cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.trending-cards::-webkit-scrollbar {
  display: none; 
}


.song-card {
  width: 170px;
  cursor: pointer;
}

.song-card img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
}

.song-card h4 {
  margin: 10px 0 5px 0;
  font-size: 16px;
  font-weight: 600;
}

.song-card p {
  margin: 0;
  color: #b3b3b3;
  font-size: 14px;
}